<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Coding4Fun.Kinect.KinectService.ConsoleHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Coding4Fun.Kinect.KinectService.ConsoleHost.Properties.Settings>
            <setting name="ColorPort" serializeAs="String">
                <value>4530</value>
            </setting>
            <setting name="DepthPort" serializeAs="String">
                <value>4531</value>
            </setting>
            <setting name="SkeletonPort" serializeAs="String">
                <value>4532</value>
            </setting>
            <setting name="AudioPort" serializeAs="String">
                <value>4533</value>
            </setting>
        </Coding4Fun.Kinect.KinectService.ConsoleHost.Properties.Settings>
    </userSettings>
</configuration>